@using Dominio.Entidades_no_abst;
@model List<Pasaje>

<h1>Pasajes emitidos</h1>

@if (Model == null || Model.Count == 0)
{
	<p>Aún no han comprado pasajes.</p>
}
else
{
	<table>
		<thead>
			<tr>
				<th>Fecha y hora</th>
				<th>Vuelo</th>
				<th>Tipo de equipaje</th>
				<th>Ruta</th>
				<th>Precio del pasaje</th>
				<th>Correo cliente</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Pasaje p in Model)
			{
				Ruta ruta = p.ObtenerRuta();
				string correoCliente = p.Pasajero.Correo;
				<tr>
					<td>@p.Fecha.ToString("dd/MM/yyyy hh:mm")</td>
					<td>@p.Vuelo.NumVuelo</td>
					<td>@p.Equipaje</td>
					<td>@ruta.ToString()</td>
					<td>@p.PrecioPasaje.ToString("C")</td>
					<td>@correoCliente</td>
				</tr>
			}
		</tbody>
	</table><br />
}