@using Dominio;
@using Dominio.Enumeraciones
@model Vuelo  


<h1>Finaliza tu compra</h1>

@if (ViewBag.Mensaje != null)
{
<p>@ViewBag.Mensaje</p>
}
<h2>Vuelo @Model.NumVuelo</h2>
<h3>Frecuencia: @string.Join(", ", @Model.Frecuencia)</h1>
<h3>Ruta: @Model.Ruta.ToString()</h3>
<h3>Avion: @Model.Avion.Modelo</h3>
<form method="post">
		<input type="hidden" name="numVuelo" value="@Model.NumVuelo" />

	<label>Fecha del vuelo:</label><br>
		<input type="date" class="form-control w-25" name="fechaPasaje"><br>

	<label>Tipo de equipaje:</label><br>
		<select class="form-select w-25"  name="equipaje">
		<option value="">Seleccione el tipo de equipaje</option>
		@foreach (Equipaje tipo in ViewBag.TiposEquipaje)
		{
			<option value="@((int)tipo)">@tipo.ToString()</option>
		}

	</select><br><br />
		<button class="btn btn-primary" type="submit">COMPRAR PASAJE</button>
</form><br />

@if (ViewBag.Exito != null)
{
	<p>@ViewBag.Exito</p>
	<br />
	<a href="/Cliente/MisPasajes">Mis pasajes</a>
}

