@using Dominio;
@model List<Vuelo>

<h1>Buscá tu vuelo por aeropuerto</h1>

<form method="post">
	<label>Código de salida:</label>
	<input type="text" name="codSalida">
	<label>Código de llegada:</label>
	<input type="text" name="codLlegada">
	<button type="submit">Buscar vuelo</button>
</form>

@if (ViewBag.Mensaje != null)
{
	<p>@ViewBag.Mensaje</p>
}


@if (Model != null && Model.Count > 0)
{

	<table>
		<thead>
			<tr>
				<th>Número de avión</th>
				<th>Ruta</th>
				<th>Avión</th>
				<th>Frecuencia</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Vuelo vuelo in Model)
			{
				<tr>
					<td>@vuelo.NumVuelo</td>
					<td>@vuelo.Ruta.ToString()</td>					
					<td>@vuelo.Avion.Fabricante @vuelo.Avion.Modelo </td>
					<td>@string.Join(", ", vuelo.Frecuencia)</td>
					<td><a href="/Pasaje/Comprar?numVuelo=@vuelo.NumVuelo" class="btn btn-primary">Comprar pasaje</a></td>
				</tr>
			}
		</tbody>
	</table>
}

