@using Dominio.Entidades_no_abst;
@using Dominio.Enumeraciones;
@model List<Vuelo>


@if (ViewBag.Mensaje == null)
{
	<h1>Vuelos</h1>
	<table>
		<thead>
			<tr>
				<th>Vuelo</th>
				<th>Ruta</th>
				<th>Avión</th>
				<th>Frecuencia</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Vuelo v in Model)
			{
				<tr>
					<td>@v.NumVuelo</td>
					<td>@v.Ruta.ToString()</td>
					<td>@v.Avion.Modelo </td>
					<td>@string.Join(", ", v.Frecuencia)</td>
					<td><a href="/Pasaje/Comprar?numVuelo=@v.NumVuelo" class="btn btn-primary">Comprar pasaje</a></td>
				</tr>
			}
		</tbody>
	</table>
} else
{
	<h1>Vuelos</h1>
	<p>@ViewBag.Mensaje</p>
}

